<% if(successMsg && successMsg.length){ %>
<div class="alert alert-success" role="alert"><%= successMsg %></div>
<% } %> 

<% if(errorMsg && errorMsg.length) { %>
<div class="alert alert-danger" role="alert"><%= errorMsg %></div>
<% } %>
