<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav main-text">
          <a class="nav-link" href="/listings">All Listings</a>
        </div>
        <div class="ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destination" aria-label="Search">
            <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <button class="create"><a class="nav-link" href="/listings/new"><i class="fa-solid fa-plus"></i>Create New Wander</a></button>
          <% if(!user){ %>
            <button class="button"><a class="nav-link" href="/login"><b>Login <i class="fa-solid fa-right-to-bracket"></i></b></a></button>
          <button id="button"><a class="nav-link" href="/Signup"><b>Signup</b></a></button>
          <% } %>
          <% if(user){ %>
            <button id="btn"><a class="nav-link" href="/logout"><b>Logout <i class="fa-solid fa-right-from-bracket"></i></b></a></button>
          <% } %>
        </div>

      </div>
    </div>
  </nav>