*{
  margin: 0;
  padding: 0;
}

:root{
  --blue : #6674CC ;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0px;
} 

.fa-compass {
  color: red;
  font-size: 2rem;
  height: 2rem;
}
.nav-link {
  color: #222222 !important ;
}
nav {
  background-color: white;
}
/* .my-footer{
      background-color: #FFF2D7;
  } */
.f-info {
  height: 6rem;
}
.f-social-link {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}
.f-social-link a {
  margin: 0.5rem;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}
.f-info-links {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.card-body {
  padding: 0 !important;
}
.card-img-top {
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px grey;
  width: 50rem;
  height: 35rem;
}
.div {
  align-items: center;
}
.link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.btn {
  width: 9rem;
  height: 3rem;
  font-size: large !important;
}
.heading {
  text-align: center;
}
.div-btn {
  display: flex;
  justify-content: space-between;
}
.details {
  text-align: center;
  text-decoration: underline;
}
.card-body {
  text-align: center;
}
.listings{
    text-align: center;
    text-decoration: underline;
}
.edit{
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5rem;
}
.div-btn{
  display: flex;
  justify-content: center;
}
.review-border{
  border: none;
  background-color: lightgrey;
  max-height: 300px;
  overflow: auto;
}
.review{
  padding: 5px;
}
.review-btn{
  background-color: #ff9b9b;
}
.ratings{
  margin : auto;
}

/* Map */
#map { height: 40rem; width: 60rem; }

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filters{
  margin-right: 2rem;
}

.filter{
  text-align: center;
  opacity: 0.7;
}

.filter:hover{
  opacity: 1;
  cursor: pointer;
}

.form-switch{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 3rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
}

.tax-info{
  display: none;
}

.d-flex{
  margin :auto ;
}

.btn-search i{
  display: inline;
  margin-right: 1rem;
}

.main-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px var(--blue);
  transition: transform 1s ease-in 0s;
}

.main-text:hover{
  transform: scale(1.2);
}

.btn-search{
  background-color: #ff9b9b;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.search-inp{
  border-radius: 1.5rem !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
}

.button{
  background-color: var(--blue);
  border: none;
  width: 6rem ;
  margin-right: 1rem;
}

.navbar-nav{
  display: flex;
  flex-wrap: wrap;
}
#btn{
  border: none;
  background-color: #904e4e;
}

.button{
  background-color: var(--blue);
  border: none;
  padding: 0.3rem ;
  margin-bottom: 0.5rem;
}

.login-btn , .signup-btn{
  margin-top: 1rem;
  background-color: var(--blue);
  border: none;
  width: 9rem;
  height: 3rem;
}

.container {
  width: auto;
  max-width: 60rem;
  padding: 0.1rem;
}

.footer {
  background-color: #f5f5f5;
}

.create{
  border: none;
  background-color: var(--blue);
  margin-right: 1rem;
  margin-left: 3rem;
}


@media (max-width : 350px){
  .card img{
    width: 15rem;
    height: 10rem;
  }
  #map{
    width: 15rem;
    height: 10rem;
  }
  .review-border{
    max-height: 100px;
    width: 250px;
    overflow: auto;
  }
  .create{
    width: 12rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .button{
    width: 6rem;
    margin-top: 0.5rem;
    margin-left: 0px;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (min-width : 350px) and (max-width:490px){
  .main-container{
    display: none;
  }
  #map{
    width: 18rem;
    height: 14rem;
  }
  .card img{
    width: 18rem;
    height: 14rem;
  }
  .review-border{
    width: 12rem;
    height: 10rem;
  }
  .card img{
    height: 12rem;
    width: 18rem;
  }
  .card-body b{
    margin-right: 2rem;
  }
  .col-2{
    display: flex;
    flex-wrap: wrap;
  }
  .pcl{
    width: 100%;
  }
  .review-border{
    max-height: 150px;
    width: 250px;
    overflow: auto;
  }
  .create{
    width: 12rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width:490px) and (max-width:768px){
  .main-container{
    display: none;
  }
  .card img{
    height: 16rem;
    width: 20rem;
  }
  #map{
    width: 25rem;
    height: 18rem;
  }
  .card-img-top{
    height: 10rem;
    width: 20rem;
  }
  .review-border{
    width: 17rem;
    height: 9rem;
  }
  .create{
    width: 12rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #button{
    width: 6rem;
    margin-top: 0.5rem;
    margin-left: 0px;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
}

@media (min-width:768px) and (max-width : 1200px){
  #map{
    width: 40rem;
    height: 30rem;
  }
  .card-img-top{
    height: 20rem;
    width: 40rem;
  }
  .row a{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .review-border{
    max-height: 150px;
    overflow: auto;
  }
  .button {
    height: 3rem;
    overflow: hidden; /* Hide any overflow content */
    height: 3rem;
  }
  
  .create{
    width: 12rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin: 0.5rem;
  }
  .btn-search{
    margin-right: 1rem;
  }
}

/* .navbar{
  background-color: #6674CC;
  margin-bottom: 0.5rem;
  height: 4rem;
}

.create :hover{
  border-bottom: 4px solid whitesmoke;
}

.nav-link :hover{
  border: none;
} 

.button:hover{
  border-bottom: 4px solid whitesmoke;
} */

