<% layout("/layouts/boilerplate.ejs") %>

<h1 class="col-6 offset-2">Login</h1>
<form action="/login" method="post" class="needs-validation" novalidate>
  <div class="row">
    <div class="col-6 offset-2">
      <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          class="form-control"
          required
        />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          required
        />
      </div>
      <button>Login</button>
    </div>
  </div>
</form>
